.settings-grid .two {
    grid-area: two;
    grid-column: 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8dbe2;
    text-align: center;
}
.settings-grid .three {
    grid-area: three;
    grid-column: 1;
    border: 1px solid #d8dbe2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.settings-grid {
    width: 70vw;
    margin: 0px 0px 0px 400px;
    padding-top: 20px;
    background: #fff;
    height: 95vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2);
    grid-template-areas: "one one" "two two" "three three";
}
.remove-name {
    color: firebrick;
}
.name-heading {
    font-size: 30px;
}
.name-change {
    font-size: 18px;
}
.todays-date a {
    padding: 3px 0 3px 0;
}
.cal-link {
    width: 300px;
    color: firebrick;
}